* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

h1 {
    margin-top: 70px;
    text-align: center;
}

.status {
margin: 20px 0px 0px 20px;
}

nav {
    display: flex;
    justify-content: center;
}

.navLinks {
    list-style: none;
    margin: 65px 25px 40px 25px;
    font-size: 14px;
}

form {
    margin: 40px auto 0px auto;
    text-align: center;
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
}

input[type=text], input[type=password], input[type=email] {
    padding: 7px;
    margin: 10px 0;
  }

  input[type=submit] {
      padding: 7px;
      width: auto;
      height: 16px;
  }

  .cancel {
      display: block;
      margin: 20px auto 0px auto;
  }

  h3 {
      margin: 20px auto 20px auto;
      text-align: center;
  }

@media screen and (min-width: 600px) {
    .navLinks {
        font-size: 17px;
    }

    form {
        width: 30%;
    }
}

@media screen and (min-width: 1000px) {
    .navLinks {
        font-size: 17px;
    }

    form {
        width: 30%;
    }
}